@font-face{
  font-family: 'ArialMT';
  src: url(../fonts/ArialMT.ttf); 
}

body {
  min-width: 1280px;
  color: #333;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: 'ArialMT', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul, ol {
  list-style-type: none;
}
.container {
  width: 1180px;
  margin: 0 auto;
}
.title-font {
  color: #445161;
  font-size: 30px;
  line-height: 36px;
}
/*     HEADER          */
.header {
  background-color: #445162;
  padding: 50px 0;
}
.header .container {
  display: flex;
  justify-content: space-between;
}

.header-content {
  color: #fff;
}
.header-title {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 51px;
}
.header-list-item {
  font-size: 20px;
  line-height: 36px;
}
.header-list-item p {
  position: relative;
  padding-left: 35px;
} 

.header-list-item p:before{
  content: "";
  display: block;
  width: 25px;
  height: 19px;
  position: absolute;
  top: 21%;
  left: 0;
  background-image: url(../img/check_icon.png);
  background-size: cover;
}

.header-img {
  width: 469px;
  height: 214px;
  background-color: #fff;
}

/*        ABOUT         */
.about {
  padding: 50px 0;
}

.about .container {
  display: flex;
  justify-content: space-between;
}

.about-content {
  width: 670px;
}

.about-title {
  margin-bottom: 30px;
}

.about-text-margin {
  margin-bottom: 20px;
}

.about-img {
  width: 430px;
  height: 245px;
  background-color: #445162;
}
/*         */
.dignity {
  background-color: #f5f5f5;
  padding: 50px 0 15px;
}
.dignity-title {
  text-align: center;
  margin-bottom: 30px;
}
.dignity-list {
  display: flex;
  flex-wrap: wrap;
}
.dignity-list-item {
  width: 50%;
  margin-bottom: 35px;
}
.dignity-list-item p {
  position: relative;
  padding-left: 41px; 
}
.dignity-list-item p:before {
    content: '+';
    display: block;
    color: #fff;
    font-size: 45px;
    line-height: 33px;
    font-weight: 500;
    text-align: center;
    width: 32px;
    height: 32px;
    position: absolute;
    background-color: #445162;
    top: 6px;
    left: 0;
}
/*   SCREENSHOTS    */
.screenshots {
  padding: 50px 0 20px;
}
.screenshots-title {
  text-align: center;
  margin-bottom: 30px;
}
.screenshots-subtitle {
  text-align: left;
  color: #445161;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400; 
  margin-bottom: 15px;
}
.screenshots-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.screenshots-list-item {
  width: 50%;
  margin-bottom: 30px;
  display: flex;
}
.screenshots-img {
  margin: 6px 15px 0 0;
}
.screenshots-content {
  width: 360px;
}
/*  REVIEW   */
.review {
  padding: 50px 0 26px;
  background-color: #f5f5f5;
}
.review-title{
  text-align: center;
  margin-bottom: 35px;
}
.review-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.review-list-item {
  width: 48.5%;
}

.review-card {
  display: flex;
}
.review-content {
  background-color: #ebebeb;
  position: relative;
  padding: 16px 0px 16px 20px;
  border-radius: 6px;
  margin-bottom: 24px;
}
.review-content:before {
    content: "";
    display: block;
    border: 13px solid transparent;
    border-right: 13px solid #ebebeb;
    position: absolute;
    top: 27px;
    left: -26px;
}
.review-text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 15px;
}
.review-quote {
  font-size: 14px;
  line-height: 18px;
  color: #989898;
}

.review-img {
  border-radius: 50%;
  margin-right: 29px;
}
/*   PRICES    */
.prices {
  padding: 50px 0;
}
.prices-item {
  background-color: #445162;
  border: 2px  solid #445161;
  border-radius: 6px;
  width: 300px;
}
.prices-item-mrg {
  margin: 0 45px;
}
.prices-title {
  text-align: center;
  width: 100%;
  margin-bottom: 29px;
}
.prices .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}
.prices-item-title {
  text-align: center;
  padding: 17px 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
}
.prices-item-text {
  display: block;
  text-align: center;
  padding: 18px 0;
  background-color: #fff;
  font-size: 40px;
  line-height: 30px;
  color: #445162;
}
.prices-item-button {
  display: block;
}
.prices-item-list {
  font-size: 14px;
  color: #fff;
  padding: 20px;
}
.prices-item-button {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #445161;
  background-color: #fff;
  border: 0;
  border-radius: 6px;
  width: 260px;
  padding: 11px 0;
  margin: 0 auto 20px;
  cursor: pointer;
}

.prices-item-button:hover {
  background-color: #f0cd06;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.251), 0 10px 10px rgba(0, 0, 0, 0.22); 
}
.prices-item-button:active {
  background-color:#b19912;
  border: none;
}
/*      FOOTER     */
.footer {
  background-color: #445162;
  padding: 50px 0;
}
.footer .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-title {
  color: #fff;
  text-align: center;
  width: 100%;
  margin-bottom: 31px;
}
.footer-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-right: 46px;
}
.footer-button {
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 6px;
  border: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #445162;
  padding: 6px 48px;
  width: 140px;
  align-self: center;
  cursor: pointer;
}
.footer-contacts {
  width: 240px;
}
input[type="text"], input[type="email"], textarea {
  border-radius: 5px;
  border: none;
  padding: 14px 9px;
  margin-bottom: 21px;
}
textarea {
  resize: none;
}

input::placeholder, textarea::placeholder {
  font-family: 'ArialMT';
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #445162;
}
.footer-button:hover {
  background-color: #f5edc2;
  box-shadow: 0 14px 15px rgba(0, 0, 0, 0.251), 0 10px 10px rgba(0, 0, 0, 0.22); 
}
.footer-button:active {
  background-color:#7e7a61;
  border: none;
}
.footer-list-item {
  margin-bottom: 30px;
}
.skype, .isq, .email, .phone {
  color: #ffffff;
}
.skype:hover, 
.isq:hover, 
.email:hover, 
.phone:hover {
  color: gray;
}
input[type="text"]:hover, 
input[type="email"]:hover, 
textarea:hover {
  box-shadow: inset 3px 4px 5px #fa6868;
}

input[type="text"]:focus, 
input[type="email"]:focus, 
textarea:focus {
  box-shadow: inset 3px 4px 5px #7bf58b;
}
